<div class="text-center">	
	<img id="burgerImage" alt="burger" src="http://www.clipartbest.com/cliparts/Kcj/XxA/KcjXxAo6i.jpg" style="height: 110px;">

	<h1>Eat-Da-Burger</h1>
	<div class="container-fluid">
		<div class="inside-buttons">
			<div class="inside-left">
				{{#each burgers}}
					{{#unless this.devoured}}
						<h4>{{this.burger_name}}</h4>
						<form action="/{{this.id}}?_method=POST" method="POST">
							<input type="hidden" name="devoured" value="true">
							<button type="submit" class="btn btn-primary">Devour it!</button>
						</form>
					{{/unless}}
				{{/each}}
			</div>

			<div class="inside-right">
				{{#each burgers}}
					{{#if this.devoured}}
						<h4>Munch, munch...that {{this.burger_name}} was tasty!</h4>
					{{/if}}
				{{/each}}
			</div>
		</div>
	</div>

	<form class="burgerForm" action="/" method="POST">
		<div class="form-group">
			<textarea type="text" name="name"></textarea>
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
	</form>

	<p>Enter a burger you want to eat</p>

</div>
